---
import ThemeLayout from "../theme/layouts/ThemeLayout.astro";
import ThemeCard from "../theme/components/ThemeCard.astro";
import { Button } from "@/components/ui";
import {
  SelectedInvoicesTable,
  InvoiceTable,
  DialogComp as Dialog,
  AlertDialogComp as AlertDialog,
} from "@/components/";
---

<ThemeLayout
  title="My Shadcn Theme — Showcase"
  description="A stunning theme built with shadcn/ui, Astro, and GSAP animations"
>
  <div class="flex h-full">
    <!-- Black theme -->
    <div
      class="dark flex-1 bg-background text-foreground flex items-center justify-center"
    >
      <div class="flex flex-col gap-4 w-full p-6">
        <div class="gap-6">
          <Button client:load variant="glass" glowColor="blue">
            Glass Button
          </Button>

          <Dialog client:load className="dark" />
          <AlertDialog client:load className="dark" />
        </div>

        <SelectedInvoicesTable client:load />
      </div>
    </div>

    <!-- White theme -->
    <div
      class="flex-1 bg-background dark:bg-background h-full flex items-center justify-center"
    >
      <div class="flex flex-col gap-4 w-full p-6">
        <div class="gap-6">
          <Button client:load variant="glass" glowColor="yellow">
            Buy for $179.900 <small>COP</small>
          </Button>

          <Dialog client:load />
          <AlertDialog client:load />
        </div>

        <InvoiceTable client:load />
      </div>
    </div>
  </div>
</ThemeLayout>

<style></style>
